<h1>Login</h1>

<%= flash[:error] %>

<form action="<%= session_url %>" method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <p><input type="text" placeholder= "email" name="user[email]"></p>

  <p><input type="password" placeholder= "password" name="user[password]"></p>

  <p><input type="submit" value="Login"></p>

</form>

<p><%= button_to "Forgot Password",  email_session_url, method: :get %></p>
