<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FriendCircle.com, <%= @user.email %></h1>
    <p>
      You're an idiot for forgetting your password
    </p>
    <p>
      To change your password, just follow this link: <%= link_to "Reset Password", @url %>.
    </p>



    <p>Thanks for joining and have a great day!</p>
  </body>
</html>