<h1>Enter new Password</h1>

<%= flash[:error] %>

<form action="<%= user_url(@user.id) %>" method="post">

  <input type="hidden" name="_method" value="put">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <p><input type="password" placeholder= "new password" name="user[password]"></p>

  <p><input type="submit" value="Update Password"></p>

</form>