<!DOCTYPE html>
<html>
<head>
  <title>FriendCircle</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if self.current_user %>
    <%= button_to "Logout" ,session_url, method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
